#app, main {
  display: flex;
  flex: 1;
}

.column {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  width: 100%;
}

.page-content__main {
  flex: 1;
  padding-top: 1rem;
  background: $white;
}
