.sidebar {
  display: none;
  flex-shrink: 0;
  background: $gray-900;
  color: $gray-100;
  width: 200px;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
  }
}

.sidebar__header {
  background-color: $gray-900;
  background: url(../../images/diagmonds.png);
  color: $gray-100;
  position: relative;
  font-size: 2rem;
  font-family: $font-family-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-shrink: 0;
  height: 110px;
  
  &:after {
    background: $cyan;
    background: linear-gradient(left, $cyan 0%, $teal 50%,$cyan 100%);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  
  > a {
    color: inherit;
    text-decoration: inherit;
  }
}

.sidebar__body {
  display: flex;
  min-width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: auto;
  flex-direction: column;
}

.sidebar__menu {
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
}

.sidebar__link {
  padding-left: 1rem;
  color: $gray-500;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  font-size: .8rem;
  
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.sidebar__icon {
  margin-right: 1rem;
  font-size: 1.1rem !important;
}
