body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

strong {
  font-weight: bold;
}

.text-secondary {
  color: $body-color !important;
}

.subhead-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $gray-400;
}
