html, body {
  height: 100% !important;
}

#app, .wrapper {
  min-height: 100% !important;
  height: 100%;
}

.content-body {
	margin-top: $spacer * 2;
  overflow: auto;
  padding-bottom: 150px;
}

[v-cloak] {
	display: none;
}
