html, body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.alert, .badge, .btn, .card, .list-group, .modal-content, .navbar, .progress, .table {
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .03);
}

.card .table,
.tab-content .table {
  box-shadow: none;
}
