* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 80px;
  font-family: Open Sans, sans-serif;
  color: #333;
  font-size: rem(14px);
  line-height: 1.4;
  background-color: #fafafa;
}


h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ddd;
}
