.card {
    box-shadow: 0 0 5px 5px rgba(0,0,0,.01);
    margin-bottom: ($spacer-y * 2);
    border: solid 1px #eee;

    > .table {
        margin-bottom: 0;
    }
}

.card-outline-primary,
.card-outline-success,
.card-outline-info,
.card-outline-warning,
.card-outline-danger {
    border: 1px solid;
}

.card-outline-primary {
    border-color: $brand-primary !important;
}

.card-outline-success {
    border-color: $brand-success !important;
}

.card-outline-info {
    border-color: $brand-info !important;
}

.card-outline-warning {
    border-color: $brand-warning !important;
}

.card-outline-danger {
    border-color: $brand-danger !important;
}

.card-header {
  background: #263238;
  color: #fff;
  padding: 1.2rem;

  h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
}
