// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #f4511e !default;
$orange: #fb8c00 !default;
$yellow: #fdd835 !default;
$green:  #43a047 !default;
$blue:   #039be5 !default;
$teal:   #00897b !default;
$pink:   #d81b60 !default;
$purple: #8e24aa !default;

// Create grayscale
$gray-dark:                 #263238 !default;
$gray:                      #607d8b !default;
$gray-light:                #78909c !default;
$gray-lighter:              #90a4ae !default;
$gray-lightest:             #b0bec5 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;
